__pycache__/
.gitignore
.vscode/
parsers/__pycache__/
books/
Examples/
env/
build/
dist/
lector.egg-info/
Test/unit_testing/env/
Test/unit_testing/readers/__pycache__/
Test/unit_testing/readers/epub/*